<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Page principale</a></li>
        <li><a href="/scatter">Scatter</a></li>
        <li><a href="/hist">Hist</a></li>
      </ul>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
